{% extends "base.html.twig" %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
{% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td><a href="{{ path('article_details', {id:article.id}) }}">Détail</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}